.filter {

	text-align:center;
	width: 100%;

	a {	
		color:  $siteGrey;	
		border: 1px solid $siteGrey;	
		padding: 10px 18px;
		display:block;
	}

	li {
		display:inline-block;
		padding: 5px;
	}

	.current {
		background-color: $salmon;
		border-color: $salmon;
		color: #fff;
	}
}
