.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 6;
  top: 46%;
  width: 100%;

  .prev,
  .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  a.prev {
    left: 20px;
    background-image: url(../images/icons/prev.png);
  }

  a.next {
    right: 20px;
    background-image: url(../images/icons/next.png);
  }
}
